.cursor {
    cursor: pointer;
}

.btnModal {
    border-color: black !important;
    background-color: #e9d89f !important;
    font-weight: bold !important;

}

.botaofinalizar {
    background-color: #ccae62 !important;
}