.caixa{
   /* min-height: 1000px !important;
   width: 1000px !important;  */
    position: relative !important;
    align-items: center;
    font-style: oblique; 
    background-image: url(https://img.freepik.com/fotos-premium/padrao-de-fundo-de-textura-de-marmore-branco-com-alta-resolucao_38648-238.jpg?w=2000);


}

.titulo{
    color:  black !important;
    font-weight: bold !important;
}
.botao{
   border-color: black !important; 
   background-color: #e9d89f !important;
    color: black !important;
    font-weight: bold !important;

 

}
.postagens{
    background-image: url(https://img.freepik.com/fotos-premium/padrao-de-fundo-de-textura-de-marmore-branco-com-alta-resolucao_38648-238.jpg?w=2000);
}
